<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>fairyTales_reduced0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 504}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1260}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 0}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 756}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 1008}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 756}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 756}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 504}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1764}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 504}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 252}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 0}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 0}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 504}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 252}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 252}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1008}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 252}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1512}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fairyTales_reduced9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {220, 250}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 250}</string>
			<key>spriteSourceSize</key>
			<string>{220, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 756}, {220, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>fairyTales_reduced.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>fairyTales_reduced</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>fairyTales_reduced</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>