<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>packageName</key>
	<string>com.kidsgamesclub.PaintSparkles.</string>
	<key>drawings</key>
	<array>
		<dict>
			<key>name</key>
			<string>bg_colors</string>
			<key>numOfItems</key>
			<string>12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dolls_and_teddy</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>legends</string>
			<key>numOfItems</key>
			<string>18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dinosaurs</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sea</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cars</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>toys</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>christmas</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>letters</string>
			<key>numOfItems</key>
			<string>26</string>
		</dict>
		<dict>
			<key>name</key>
			<string>monsters</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fairyTales</string>
			<key>numOfItems</key>
			<string>21</string>
		</dict>
	</array>
	<key>sayPackageName</key>
	<true/>
</dict>
</plist>
