<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texturesInAppId</key>
	<string>inAppProduct_textures</string>
	<key>fireworksSpriteName</key>
	<string>PaintSparkles/firework_transparent.png</string>
	<key>shouldUseGestures</key>
	<false/>
	<key>shouldSayPackageName</key>
	<true/>
	<key>shouldPlaySoundsByOrder</key>
	<false/>
	<key>sfxSoundsCount</key>
	<integer>16</integer>
	<key>brushTextures</key>
	<array>
		<dict>
			<key>name</key>
			<string>crayon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>roller</string>
		</dict>
		<dict>
			<key>name</key>
			<string>stars</string>
		</dict>
		<dict>
			<key>name</key>
			<string>needle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter</string>
		</dict>
		<dict>
			<key>name</key>
			<string>hearts</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tushtush</string>
		</dict>
		<dict>
			<key>name</key>
			<string>marker</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flowers</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bricks</string>
		</dict>
	</array>
	<key>colors</key>
	<array>
		<dict>
			<key>name</key>
			<string>magic_wand</string>
			<key>customOverlaySpriteName</key>
			<string>PaintSparkles/painter/colorsMenu/color_magic_wand.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>aqua_marine</string>
			<key>color</key>
			<string>64,224,208</string>
		</dict>
		<dict>
			<key>name</key>
			<string>pink</string>
			<key>color</key>
			<string>255,123,172</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beige</string>
			<key>color</key>
			<string>238,193,156</string>
		</dict>
		<dict>
			<key>name</key>
			<string>gold</string>
			<key>color</key>
			<string>252,194,0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>purple</string>
			<key>color</key>
			<string>138,43,226</string>
		</dict>
		<dict>
			<key>name</key>
			<string>black</string>
			<key>color</key>
			<string>51,51,50</string>
		</dict>
		<dict>
			<key>name</key>
			<string>green</string>
			<key>color</key>
			<string>57,181,74</string>
		</dict>
		<dict>
			<key>name</key>
			<string>red</string>
			<key>color</key>
			<string>193,39,45</string>
		</dict>
		<dict>
			<key>name</key>
			<string>blue</string>
			<key>color</key>
			<string>0,113,188</string>
		</dict>
		<dict>
			<key>name</key>
			<string>grey</string>
			<key>color</key>
			<string>153,153,152</string>
		</dict>
		<dict>
			<key>name</key>
			<string>violet</string>
			<key>color</key>
			<string>147,39,143</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bright_green</string>
			<key>color</key>
			<string>102,255,0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>light_blue</string>
			<key>color</key>
			<string>41,184,226</string>
		</dict>
		<dict>
			<key>name</key>
			<string>white</string>
			<key>color</key>
			<string>255,255,255</string>
		</dict>
		<dict>
			<key>name</key>
			<string>brown</string>
			<key>color</key>
			<string>117,76,36</string>
		</dict>
		<dict>
			<key>name</key>
			<string>magenta</string>
			<key>color</key>
			<string>158,0,93</string>
		</dict>
		<dict>
			<key>name</key>
			<string>yellow</string>
			<key>color</key>
			<string>252,238,33</string>
		</dict>
		<dict>
			<key>name</key>
			<string>copper</string>
			<key>color</key>
			<string>184,115,51</string>
		</dict>
		<dict>
			<key>name</key>
			<string>crimson</string>
			<key>color</key>
			<string>95,0,44</string>
		</dict>
		<dict>
			<key>name</key>
			<string>orange</string>
			<key>color</key>
			<string>241,90,36</string>
		</dict>
		<dict>
			<key>name</key>
			<string>color_brush</string>
			<key>customOverlaySpriteName</key>
			<string>PaintSparkles/painter/colorsMenu/color_brush_top.png</string>
			<key>customColorSpriteName</key>
			<string>PaintSparkles/painter/colorsMenu/color_brush_bottom.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fireworks</string>
			<key>customOverlaySpriteName</key>
			<string>PaintSparkles/painter/colorsMenu/fireworks.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eraser</string>
			<key>customOverlaySpriteName</key>
			<string>PaintSparkles/painter/colorsMenu/color_eraser.png</string>
		</dict>
	</array>
	<key>bgColors</key>
	<array>
		<integer>14</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>7</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>15</integer>
		<integer>20</integer>
		<integer>8</integer>
		<integer>13</integer>
		<integer>17</integer>
		<integer>10</integer>
	</array>
	<key>drawingCategories</key>
	<array>
		<dict>
			<key>name</key>
			<string>animals</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_animals</string>
			<key>tabTaleInAppId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>dolls_and_teddy</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_dolls_and_teddy</string>
			<key>tabTaleInAppId</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>legends</string>
			<key>numOfItems</key>
			<integer>18</integer>
			<key>inAppId</key>
			<string>inAppProduct_legends</string>
			<key>tabTaleInAppId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>dinosaurs</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_dinosaurs</string>
			<key>tabTaleInAppId</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>sea</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_sea</string>
			<key>tabTaleInAppId</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>cars</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_cars</string>
			<key>tabTaleInAppId</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>toys</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_toys</string>
			<key>tabTaleInAppId</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>christmas</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_christmas</string>
			<key>tabTaleInAppId</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>letters</string>
			<key>numOfItems</key>
			<integer>26</integer>
			<key>inAppId</key>
			<string>inAppProduct_letters</string>
			<key>tabTaleInAppId</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>monsters</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_monsters</string>
			<key>tabTaleInAppId</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>fairyTales</string>
			<key>numOfItems</key>
			<integer>21</integer>
			<key>inAppId</key>
			<string>inAppProduct_fairyTails</string>
			<key>tabTaleInAppId</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>clear</string>
			<key>numOfItems</key>
			<integer>0</integer>
			<key>inAppId</key>
			<string></string>
			<key>tabTaleInAppId</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>brushHighlightIndentX</key>
	<real>45.5</real>
	<key>brushHighlightIndentY</key>
	<integer>53</integer>
	<key>hasCamera</key>
	<true/>
	<key>hasGallery</key>
	<true/>
	<key>hasLastImage</key>
	<true/>
	<key>brushColors</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>16</integer>
		<integer>17</integer>
		<integer>18</integer>
		<integer>19</integer>
		<integer>20</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>23</integer>
	</array>
</dict>
</plist>
